= simple_form_for @job do |f|
  = f.error_notification
  .form-inputs
    = f.input :title, required: true
    = f.input :hero_image, as: :file
    = f.input :description, required: true, as: :text
    = f.input :location
    = f.input :job_type, collection: Job.job_types.keys.map { |w| [w.humanize, w] }, prompt: 'Select Job Type'
  .form-actions
    = f.button :submit, "Create new job"
