.mt-5
  = image_tag company.company_logo, class: 'company-logo'
%hr/
.btn.btn-sm.btn-warning.sidebar-tag
  %span
    = @job.job_type.humanize.upcase
%hr/
.btn.btn-outline-success.d-flex.justify-content-center
  %span Apply for job
%hr/
%h4.text-center Company Social
= link_to company.facebook_url do
  %span.text-secondary
    = fa_icon "facebook"
    %span.ml-2 Facebook
%br/
= link_to company.twitter_url do
  %span.text-secondary
    = fa_icon "twitter"
    %span.ml-1 Twitter
%br/
= link_to company.linkedin_url do
  %span.text-secondary
    = fa_icon "linkedin"
    %span.ml-1 Linkedin
%hr/
= link_to company.website_url do
  %span.text-secondary
    = fa_icon "link"
    %span.ml-1 Website