.jumbotron.bg-gradient-light.mt-5
  %h3.text-center
    = @job.title
    = link_to 'Edit', edit_job_path(@job), class: 'btn btn-primary btn-sm'
  .d-flex.justify-content-center.mt-3.hero-body
    .btn.btn-sm.btn-warning.hero-item.hero-tag
      = @job.job_type.humanize.upcase
    %p.hero-item.text-secondary
      = fa_icon "map-marker"
      = @job.location
      %span.seperator 
        |
    %p.hero-item.text-secondary
      = fa_icon "calendar"
      Posted
      = time_ago_in_words @job.created_at
      ago
      %span.seperator 
        |
    = link_to @job.company do
      %p.hero-item.text-secondary
        = fa_icon "home"
        = @job.company.title

.container.content-area
  .row
    .col-md-10.col-sm-12.pr-5
      %h5.text-secondary.mb-4 Overview
      = image_tag @job.hero_image, alt: 'Company Image', width: 880, height: 270, class: 'hero-image'
      %h5.text-secondary.mb-4.mt-4 Company Profile
      .text-justify
        = @job.description.html_safe
    .col-md-2.col-sm-6.col-xs-12
      = render 'sidebar', company: @job.company
  = render 'jobs_list', jobs: @jobs_facade.related_jobs, title: 'Related Jobs'