= simple_form_for @company do |f|
  = f.error_notification
  .form-inputs
    = f.input :title, required: true
    = f.input :company_logo, as: :file
    = f.input :description, required: true, as: :text
    = f.input :facebook_url
    = f.input :twitter_url
    = f.input :linkedin_url
  .form-actions
    = f.button :submit, "Create new Company"
