%section.footer-cta
  .container
    %h2
      Got a question?
    %p
      We're here to help. Check out our FAQs, send us an email or call us at 1 (800) 555-5555

%section.footer-widgets
  .container
    .row
      .col-xs-12.col-md-6.col-lg-3
        .text-widget
          = image_tag 'logo-light.svg', alt: 'Logo'
          %br/
          %br/
          %p
            Job Searching Just Got Easy. Use Jobify to run a hiring site and earn money in the process!
      .col-xs-12.col-md-6.col-lg-3
        .text-widget
          %h4 Site Map
          %ul
            %li Blog
            %li FAQ
            %li Companies
            %li Jobs
            %li Pricing
            %li Sign Up
            %li Find A Job
      .col-xs-12.col-md-6.col-lg-3
        .text-widget
          %h4 Recent Blog Posts
          %ul.widget-posts
            %li
              The Best (and Worst) Canadian Merchant Account Providers
              %br/
              %span.post-date March 29, 2019
            %li
              Do you have a job that the average person doesn’t even know exists?
              %br/
              %span.post-date March 22, 2019
            %li
              DigitalOcean launches first Canadian data centre in Toronto
              %br/
              %span.post-date February 22, 2019
      .col-xs-12.col-md-6.col-lg-3
        .text-widget
          %h4 Jobify Offices
          %ul.widget-posts
            %li
              Jobify Inc. 555 Madison Avenue, Suite F-2 Manhattan, New York 10282 
              %br/
              %br/
            %li
              Jobify Inc Canada. 545 Younge St, Suite 11 Toronto, Ontario M4K 6F4
              %br/
              %br/
%section.footer
  .container.footer.d-flex.justify-content-between
    %p.copyright © 2019 CLASSIC — ALL RIGHTS RESERVED
    .socials
      = fa_icon "facebook"
      = fa_icon "twitter"
      = fa_icon "pinterest"
      = fa_icon "linkedin"
