%nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
  .container
    = link_to root_path, class: 'navbar-brand' do
      = image_tag 'logo', alt: 'Logo'
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", type: "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item.active
          = link_to 'Find A Job', jobs_path, class: 'nav-link'
          %span.sr-only (current)
        %li.nav-item
          = link_to 'Post A Job', new_job_path, class: 'nav-link'
        %li.nav-item
          = link_to 'Companies', companies_path, class: 'nav-link'
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
            Dropdown
          .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            %a.dropdown-item{href: "#"} Action
            %a.dropdown-item{href: "#"} Another action
            .dropdown-divider
            %a.dropdown-item{href: "#"} Something else here
        
        - if user_signed_in?
          %li.nav-item
            = link_to 'Log out', destroy_user_session_path, class: 'nav-link', method: :delete
        - else
          %li.nav-item
            = link_to 'Sign Up', new_user_registration_path, class: 'nav-link'
          %li.nav-item
            = link_to 'Login', new_user_session_path, class: 'nav-link login-link'
