!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Jobify
    = csrf_meta_tags
    = csp_meta_tag
    %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap"
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet' 
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/navbar'
    - if notice.present?
      %p.alert.alert-info.mt-8
        = notice
    - if alert.present?
      %p.alert.alert-danger.mt-8
        = alert
    = yield
    = render 'layouts/footer'
